*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root{
    display: flex;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.gap {
    gap: 8px;
}

.min-width {
    width: max-content;
}

.p {
    padding: 4px;
}